<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "administrar" | translate }} {{ "seccion" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="i-content ion-justify-content-center ion-align-items-center">
    <div class="i-content-div ion-margin">
      <form class="form ion-margin-top" [formGroup]="seccion" (ngSubmit)="agregar()">
        <ion-item lines="full">
          <ion-label color="duoc" position="floating">{{ "codigo" | translate }}: </ion-label>
          <ion-input formControlName="codigo" type="text" placeholder="PGY4121"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label color="duoc" position="floating">{{ "nombre seccion" | translate }}: </ion-label>
          <ion-input formControlName="nombre" type="text" placeholder="ingrese nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Seleccione profesor" formControlName="profesor" [compareWith]="compareWith">
            <ion-select-option *ngFor="let p of profesores" [value]="p">{{p.nom_completo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select  placeholder="Seleccione alumno" formControlName="alumno" [compareWith]="compareWith" [multiple]="true">
            <ion-select-option *ngFor="let a of alumnos" [value]="a">{{a.nom_completo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="full">
          <ion-label color="duoc" position="floating">{{ "sigla" | translate }}: </ion-label>
          <ion-input  formControlName="sigla" placeholder="005D" type="text"></ion-input>
        </ion-item>
        <ion-button color="duoc" type="submit" expand="full" shape="round" [disabled]="!seccion.valid">
          {{ "agregar o actualizar" | translate }}
        </ion-button>
      </form>
        <ion-button  color="duoc" type="submit" expand="full" shape="round" fill="outline" (click)="limpiar()">
          {{ "limpiar" | translate }}
        </ion-button>
     
      <ion-list>
        <ion-item lines="full" *ngFor="let aux of secciones">
          <ion-label>{{ aux.nombre }}_{{ aux.sigla }}</ion-label>

          <ion-icon color="primary" slot="end" name="search" (click)="buscar(aux.id)"></ion-icon>
          <ion-icon color="danger" slot="end" name="trash-outline" (click)="eliminar(aux.id)"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
