<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ "Menu" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item lines="full" routerLink="/home/perfil-usuario">
      <ion-label>{{ "mi perfil" | translate }}</ion-label>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
    </ion-item>
    <ion-item
      lines="full"
      *ngIf="usuario && usuario.tipo=='admin' && emailVeri==true"
      routerLink="/admin-seccion"
    >
      <ion-label>{{ "administracion secciones" | translate }}</ion-label>
      <ion-icon slot="start" name="attach-outline"></ion-icon>
    </ion-item>
    <ion-item class="select">
      <ion-label>{{ "selecciona" | translate }}</ion-label>
      <ion-select cancelText="Cancel" [(ngModel)]="idioma" placeholder="Selecciona" [value]="idioma" (ionChange)="changeLang($event)">
        <ion-select-option *ngFor="let lang of langs">{{ lang }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full"  href="https://www.mediafire.com/file/c5qzavd5734qqwd/app-debug.apk/file">
      <ion-label>Descargar APK</ion-label>
      <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="logOut()" lines="full">
      <ion-label>{{ "cerrar sesion" | translate }}</ion-label>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-content-big" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ "inicio" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-content-big">
    <div id="container ion-align-items-start">
      <div class="i-content ion-justify-content-center">
        <ion-card *ngIf="emailVeri==false">
          <ion-card-header>
             <ion-card-title>verifica tu correo electronico </ion-card-title>
             <ion-card-subtitle>para acceder a tu informacion necesitas verificar tu correo, haz click abajo y revisa tu correo, si no esta puede que se haya ido al span!</ion-card-subtitle>
          </ion-card-header>
          <ion-button (click)="sendVeri()" expand="block" color="warning" shape="round">
            confirmar correo
          </ion-button>
        </ion-card>
        <div class="i-content-div ion-justify-content-center" *ngIf="emailVeri==true"> 
          <h3 class="ion-padding-horizontal" *ngIf="usuario">{{ "bienvenido" | translate }}: {{ usuario.nombre }}</h3>
          <ion-item lines="none" *ngFor="let aux of secciones" [routerLink]="['/home', aux.id]" >
            <ion-card color="secondary" class="tarjeta-materias">
              <ion-card-header>
                <ion-card-subtitle>{{aux.codigo}}</ion-card-subtitle>
                <ion-card-title>{{aux.nombre}}_{{aux.sigla}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="tertiary" lines="none">
                  <ion-label>
                    <p>{{ "N° alumnos" | translate }}: {{ aux.num_alumnos }}</p>
                    <p>{{ "profesor" | translate }}: {{aux.profesor.nombre}}</p>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</div>